<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form (ngSubmit)="register()">
        Customer name: <input type="text" name = "t1" [(ngModel)]='customer.name' required/><br>
        Customer email: <input type="text" name = "t2" [(ngModel)]='customer.email' required/><br>
        Customer password: <input type="password" name = "t3" [(ngModel)]='customer.password' required/><br>
        Customer Date of Birth: <input type="date" name = "t4" [(ngModel)]='customer.dateOfBirth' required/><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
